.App {
  text-align: center;
  color: var(--secondary-color);
}
:root{
  --primary-color:#c31432;
  --secondary-color:#240b36;
}

li{
  list-style: none;
}

.question{
  margin: 0 auto;
  max-width: 600px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 2rem;
}

.final-score{
  margin: 0 auto;
  max-width: 600px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 1rem;
}
.option{
  border: 1px solid white;
  padding: 1rem ;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.option:hover{
  background-color: white;
  color: #333;
}
.btn{
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover{
background-color: white;
color: var(--secondary-color);
}